In [42]:
from src.logic import *
import matplotlib
import seaborn as sns

In [62]:
cols_of_interest = ['title', 'description', 'author', 'rank', 'list_name', 'weeks_on_list']

In [48]:
data = get_ny_times_data('auth.yaml', n_batches=None)

Estimated loading time: 5.0 minutes.
1/50 batches loaded.
2/50 batches loaded.
3/50 batches loaded.
4/50 batches loaded.
5/50 batches loaded.
6/50 batches loaded.
7/50 batches loaded.
8/50 batches loaded.
9/50 batches loaded.
10/50 batches loaded.
11/50 batches loaded.
12/50 batches loaded.
13/50 batches loaded.
14/50 batches loaded.
15/50 batches loaded.
16/50 batches loaded.
17/50 batches loaded.
18/50 batches loaded.
19/50 batches loaded.
20/50 batches loaded.
21/50 batches loaded.
22/50 batches loaded.
23/50 batches loaded.
24/50 batches loaded.
25/50 batches loaded.
26/50 batches loaded.
27/50 batches loaded.
28/50 batches loaded.
29/50 batches loaded.
30/50 batches loaded.
31/50 batches loaded.
32/50 batches loaded.
33/50 batches loaded.
34/50 batches loaded.
35/50 batches loaded.
36/50 batches loaded.
37/50 batches loaded.
38/50 batches loaded.
39/50 batches loaded.
40/50 batches loaded.
41/50 batches loaded.
42/50 batches loaded.
43/50 batches loaded.
44/50 batches loaded.
45/50 batches loaded.
46/50 batches loaded.
47/50 batches loaded.
48/50 batches loaded.
49/50 batches loaded.

### Top 10 most frequent weeks on bestseller list by rank

In [40]:
# top 10 weeks on list according to NY-times weeks_of_list field
data_wl = data[data['rank'].notnull()]; data_wl = data_wl[data_wl['weeks_on_list'].notnull()]
data_wl = data_wl.sort_values(by=['rank', 'weeks_on_list'], ascending=[True, False])
data_wl = data_wl[cols_of_interest]
data_wl = data_wl.drop_duplicates(subset=['title', 'author'], keep='first')
wl_top_ten = data_wl.groupby('rank').head(10)
wl_top_ten = wl_top_ten[wl_top_ten['rank'] <= 10.0]
wl_top_ten

,title,description,author,rank,list_name,weeks_on_list
2,A MONSTER CALLS,None,Patrick Ness,1,Young Adult Paperback,22
12,A DAY IN THE LIFE OF MARLON BUNDO,A lonely bunny meets a companion.,Marlon Bundo with Jill Twiss,1,Picture Books,18
11,A BRIEF HISTORY OF TIME,The British cosmologist reviews efforts to cre...,Stephen Hawking,1,Paperback Nonfiction,16
17,A TALE OF MAGIC...,In a world where magic is outlawed and women a...,Chris Colfer,1,Childrens Middle Grade Hardcover,14
13,A GOOD GIRL'S GUIDE TO MURDER,While trying to solve a murder-suicide case fo...,Holly Jackson,1,Young Adult Hardcover,4
...,...,...,...,...,...,...
8,A FATHER FIRST,The all-star guard for the Miami Heat describe...,Dwyane Wade with Mim Eichler Rivas,10,Hardcover Nonfiction,1
0,A FIGHTING CHANCE,The senator's narrative about what does and do...,Elizabeth Warren,10,Paperback Nonfiction,1
4,A PERFECT STORM,"To expose a smuggling ring, the bounty hunter ...",Lori Foster,10,Mass Market Paperback,1
0,A PERFECT UNION OF CONTRARY THINGS,A biography of the lead singer and songwriter ...,Sarah Jensen with Maynard James Keenan,10,Hardcover Nonfiction,1
1,A SCOT IN THE DARK,"To avert scandal, a sheltered ward turns to a ...",Sarah MacLean,10,E-Book Fiction,1

In [47]:
rank_to_show=1
wl_top_ten[wl_top_ten['rank'] == rank_to_show]

,title,description,author,rank,list_name,weeks_on_list
1,A BIG GUY TOOK MY BALL!,Someone stole Piggie's ball. That is not right.,Mo Willems,9,Picture Books,15
4,A CAPTAIN'S DUTY,The captain of the Maersk Alabama recounts the...,Richard Phillips and Stephan Talty,9,E-Book Nonfiction,1
1,A GOOD MARRIAGE,An unsuspecting accountant's wife makes a dist...,Stephen King,9,E-Book Fiction,1
0,A LAST GOODBYE,A bride-to-be turns sleuth in the search for a...,J A Jance,9,E-Book Fiction,1
0,A MRS. MIRACLE CHRISTMAS,A visitor helps the McCullough family beyond e...,Debbie Macomber,9,Combined Print and E-Book Fiction,1
0,A PARADE OF ELEPHANTS,A pachyderm parade.,Kevin Henkes,9,Picture Books,1
4,A RED HERRING WITHOUT MUSTARD,The 11-year-old sleuth Flavia de Luce uses her...,Alan Bradley,9,Hardcover Fiction,1

### Top 10 most frequent weeks by rank (according to timestamp)

In [77]:
# top 10 weeks on list according to bestseller timestamp
#cols_of_interest.remove('weeks_on_list'); cols_of_interest.append('bestsellers_date')
data_tl = data[data['rank'].notnull()]; data_tl = data_tl[data_tl['bestsellers_date'].notnull()]
data_tl = data_tl[cols_of_interest]
data_tl = data_tl.groupby(['title','description','author','rank','list_name']).agg(['count'])
data_tl = data_tl.sort_index(ascending=False)
data_tl

                                                                                                                                    bestsellers_date
                                                                                                                                               count
title                         description                                        author       rank list_name
A TALE OF MAGIC...            In a world where magic is outlawed and women ar... Chris Colfer 9    Childrens Middle Grade Hardcover                3
                                                                                              8    Childrens Middle Grade Hardcover                6
                                                                                              7    Childrens Middle Grade Hardcover                5
                                                                                              6    Childrens Middle Grade Hardcover                2
                                                                                              5    Childrens Middle Grade Hardcover                1
...                                                                                                                                              ...
10-DAY GREEN SMOOTHIE CLEANSE Beverages of combined leafy greens and fruits a... J J Smith    9    Health                                          2
                                                                                              8    Health                                          1
                                                                                              7    Food and Fitness                                3
                                                                                              6    Health                                          5
                                                                                                   Food and Fitness                                1

[765 rows x 1 columns]